In [18]:
import pandas as pd
import re
import wordsegment as ws

In [3]:
df = pd.read_csv('data/random_spanish_tweets.csv')
df.head()

,tweet,location,cuban_variant,specific_variant,not-cuban,not able to identify,irrelevant
0,@Ivan_truck78 Buenos días. Que tengas un buen ...,"Madrid, Reino de España",False,NaN,False,True,False
1,Desde #Miami me pasa este video @edgard_simon ...,NaN,True,NaN,False,False,False
2,@F1NE28LT @LT91S0TT Pero,louis,False,NaN,False,False,True
3,Me puedo imaginar lo triste que debe ser no co...,Puebla-México,False,Mexico,True,False,False
4,@rainxmy Según santogoogle significa antes de ...,NaN,False,NaN,False,False,False

In [25]:
def apply_user_anonymizer(tweet_content):
    """
    This function receive a tweet content and return the same content with all the mentions with the string @user
    input: tweet_content (str)
    output: tweet_content (str) after replacing all the mentions with @user
    """
    return re.sub(r'@(\w+)', '@user', tweet_content)

def apply_url_standarizer(tweet_content):
    """
    This function receive a tweet content and return the same content with all the urls with the string http://url
    input: tweet_content (str)
    output: tweet_content (str) after replacing all the urls with http://url
    """
    return re.sub(r'http\S+', 'url', tweet_content)

def apply_hashtag_segmentation(tweet_content):
    """
    This function receive a tweet content and return the same content with all the hashtags segmented
    input: tweet_content (str)
    output: tweet_content (str) after segmenting all the hashtags
    """
    ws.load()
    return re.sub(r'#(\w+)', lambda x: ' '.join(ws.segment(x.group(1))), tweet_content)

In [11]:
apply_user_anonymizer('@EsteUSUARIO is a great person and @AquelUsuario is a great friend')

'@user is a great person and @user is a great friend'

In [14]:
apply_url_standarizer('I love this song http://www.youtube.com/estacancion')

'I love this song url'

In [13]:
apply_url_standarizer('I love this song https://www.youtube.com/estacancion')

'I love this song url'

In [27]:
apply_hashtag_segmentation('Me gusta mucho esta #canciondePabloMilanes')

'Me gusta mucho esta cancion de pablo milanes'

In [40]:
apply_hashtag_segmentation("#SOSMatanzas")

'sos matanzas'